body{
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #F5EEE6, #FFF8E3, #F3D7CA, #E6a4b4);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5EEE6;
    color: black;
    padding: 20px;
    height: 80px;
    border-bottom: 5px solid black;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: auto;
    margin-right: 15px;
    margin-top: 20px;
}

.main-body {
    padding: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.btn-rounded {
    border-radius: 20px; 
}
  
.btn-rounded i.material-icons {
    border-radius: 50%;
}

.transparent-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
  }

.sign-up-button {
    color: white !important;
    border-radius: 3px !important;
    font-size: 1.2em !important;
    font-weight: 500 !important;
}

.sign-up-button:hover {
    /* background-color: darken(#ff9800, 100%) !important; */
    background-color: #C67700 !important;
    font-size: 1.3em !important;
}

.container {
    padding: 20px;
}

.hero-section {
    padding-top: 5em;
    padding-bottom: 5em;
}

.content {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.featured-message {
    display: flex;

    div {
        display: inline-block; /* Make the div inside .featured-message display inline */
    }

    img {
        width: 300px;
        height: 300px;
    }
}


.testimonial-section {

    padding-top: 5em;
    padding-bottom: 5em;

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-right: 10px;
    }

    .avatar-name {
        font-size: 1.2em;
        font-weight: bold;
    }

}

.footer-section {
    display: flex;
    padding: 35px;
    background-color: white;
    
    input {
        width: 50% !important;
    }
    button {
        display: inline-block;
    }

    .copyright {
        padding-top: 2em;
        font-weight: bold;
    }

    .footer-right {
        text-align: right;
        margin-left: auto !important;
    }
}
