body{
	margin: 0;
	padding: 0;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #F5EEE6, #FFF8E3, #F3D7CA, #E6a4b4);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5EEE6;
    color: black;
    padding: 20px;
    height: 80px;
    border-bottom: 5px solid black;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    width: auto;
    margin-right: 15px;
    margin-top: 20px;
}

.nav-button {
    background-color: #E6A4B4;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px; 
}

.nav-button:hover {
    background-color: #FFF8E3;
    color: black;
}

.main-body {
    padding: 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.btn-rounded {
    border-radius: 20px; 
}
  
.btn-rounded i.material-icons {
    border-radius: 50%;
}

.transparent-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
  }

.sign-up-button {
    background-color: #E6A4B4;
    color: white;
    border: black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3px;
}



.sign-up-button:hover {
    background-color: #FFF8E3;
    color: black;
  }

.container {
    padding: 20px;
}

.content {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
